.swiper {
  /* width: 100%; */
  padding-top: 0px;
  padding-bottom: 0px;
}

.swiper-slide {
  background-position: auto;
  background-size: auto;
  /* width: 400px;
  height: 500px; */
  width: auto;
  height: auto;
}

.swiper-slide img {
  /* display: block; */
  /* display: ; */
  width: 100%;
}
